{% extends 'base.html' %} 
{% block content %}

<main class="container py-6"> 
    <section class="card card-body">
        <h1 class="display-1 text-center">APP django python</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit expedita eius
          eos quibusdam neque cumque ab quod consequuntur, quas doloribus obcaecati nisi
          omnis praesentium suscipit esse iste veniam, accusamus commodi!
        </p>
        <div class="text-center">
            <a class="btn btn-dark" href="/signin/">
                signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                signup
            </a>
        </div>


    </section>

</main>


{% endblock content %}
